<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091270114092-c4sa82tr6v1bseqvl6drab4pckq2mast.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091270114092-c4sa82tr6v1bseqvl6drab4pckq2mast</string>
	<key>API_KEY</key>
	<string>AIzaSyCnL6I4eegL36azw4U7IU2tvzvUuv_B-XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1091270114092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blankFireSetstate</string>
	<key>PROJECT_ID</key>
	<string>ficmobilenew</string>
	<key>STORAGE_BUCKET</key>
	<string>ficmobilenew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091270114092:ios:f65ba3adc02225d2060a89</string>
</dict>
</plist>